
/*estilos da página index*/

body{
	background-color: #ffffff;
	background-image: url("https://th.bing.com/th/id/Re2a5322c42d10fb5696996b9953cfcd7?rik=syK9g7q1nlwdEQ&pid=ImgRaw");
	background-attachment: fixed;
	background-size: cover;
}

h1{
	color: rgb(255, 255, 255);
	 size: 32pt; 
	 margin: 50px;
}

.menu li{
	color: rgb(255, 254, 255);
	display: inline;
	padding: 15px;
}

.menu li a{
	text-decoration: none;
	font-size: 20px;
	color: rgb(255, 255, 255);
}

.menu li a:hover{
	color: rgb(45, 247, 236);
}

p{
	color: rgb(0, 0, 0);
}

.center{
	text-align: center;
}

.justify{
	text-align: justify;
}

.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: inherit;
}

.align{
	align-items: center;
}

.flex-container > div{
	background-color: rgba(255, 255, 255, .15);  
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	backdrop-filter: blur(5px);
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	background: inherit;
}

.p30{
	padding: 30px;
	
}

.bratius{
	border-radius: 50%;
}

.wh{
	width: 550px;
	height: 350px;
}

.wh2{
	width: 100px;
	height: 100px;
}
.wh3{
	width: 400px;
	height: 220px;
}

.wh4{
	width: 800px;
	height: 400px;
}
.wh5{
	width: 300px;
	height: 300px;
}


.mb50{
	margin-bottom: 50px;
}

h2{
	font-size: 25pt;
	color: rgb(255, 255, 255);
}

.ml50{
	margin-left: 50px;
}

.margin0{
	margin: 0px;
}

.mlmaior{
	margin-left: 275px;
}

.color{
	color: white;
}

.glass{
	background-color: rgba(255, 255, 255, .15);  
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	backdrop-filter: blur(5px);
}
